{#--#}
a:link, a:visited {
    color: #36c;
    text-decoration: none;
}
a:active, a:hover, a:focus {
    text-decoration: underline;
    text-underline-offset: 0.3em;
}
#lang-select {
    font-size: 80%;
    width: max-content;
    margin: 2em 0 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#lang-select li {
    flex-grow: 1;
    flex-basis: auto;
    margin: .25em 0 0 0;
    padding: 0 1em;
    text-align: center;
    list-style-type: none;
    border-left: 0.1rem solid currentColor;
}
#lang-select li:first-of-type {
    border-left: 0 none transparent;
}
#lang-select li:last-of-type {
    padding-right: 0;
}

.profile-wrapper {
position: relative;
}

#menu {
position: absolute;
top: 100%;
right: 0;

background: white;
border: 1px solid #ccc;
box-shadow: 0 2px 8px rgba(0,0,0,0.15);
min-width: 150px;
}

#menu a {
display: block;
padding: 8px 12px;
}

.hidden { display: none; }

